GITHUB_TOKEN=your_github_personal_access_token_here
GITHUB_OWNER=yasamarium
DB_USERS_REPO=eluivie-db-users
DB_REPOS_REPO=eluivie-db-repos
DB_ISSUES_REPO=eluivie-db-issues
DB_ACTIVITY_REPO=eluivie-db-activity
DB_STORAGE_REPO=eluivie-db-storage
JWT_SECRET=super_secret_jwt_random_string
NEXT_PUBLIC_APP_NAME=Eluivie
NEXT_PUBLIC_APP_DESC="Minimalist iOS-Themed Git Platform"
